/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-sl-blocks-rating-accordion {
	background-color: #f5faff;
	padding: 12px 16px;
	margin-bottom: 16px;

	span {
		margin-block-start: 0px !important; /**Needed to override Bricks styles**/
	}

	&:hover {
		cursor: pointer;
	}
}

.wp-block-sl-blocks-rating-accordion__summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wp-block-sl-blocks-rating-accordion__chevron {
	transition: transform 0.3s ease;
}

.wp-block-sl-blocks-rating-accordion[open] .wp-block-sl-blocks-rating-accordion__chevron {
	transform: rotate(180deg);
}
